@import "tailwindcss";
@plugin "daisyui" {
  themes: saas-theme;
}

@plugin "daisyui/theme" {
  name: "saas-theme";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(0.9645 0.0139 88.68);
  --color-base-200: oklch(0.8913 0.0126 91.53);
  --color-base-300: oklch(0.815 0.0119 84.58);
  --color-base-content: oklch(0.2466 0.0346 40.05);
  --color-primary: oklch(0.4708 0.1121 50.85);
  --color-primary-content: oklch(0.9645 0.0139 88.68);
  --color-secondary: oklch(0.8045 0.0748 65.76);
  --color-secondary-content: oklch(0.2466 0.0346 40.05);
  --color-accent: oklch(0.7394 0.1003 64.23);
  --color-accent-content: oklch(0.2466 0.0346 40.05);
  --color-neutral: oklch(0.6782 0.1227 62.18);
  --color-neutral-content: oklch(0.2466 0.0346 40.05);
  --color-info: oklch(0.4203 0.0533 234.34);
  --color-info-content: oklch(0.9645 0.0139 88.68);
  --color-success: oklch(0.5578 0.1688 142.89);
  --color-success-content: oklch(0.9645 0.0139 88.68);
  --color-warning: oklch(0.7862 0.0638 74.62);
  --color-warning-content: oklch(0.2466 0.0346 40.05);
  --color-error: oklch(0.4968 0.1797 26.81);
  --color-error-content: oklch(0.9645 0.0139 88.68);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

html,
body {
  scroll-behavior: smooth !important;
}

/* It makes the HTML progress bar filling smooth when value change. */
progress::-webkit-progress-value {
  transition: 0.6s width ease-out;
}

.markdown {
  @apply leading-relaxed text-lg xl:text-xl;
}

.markdown a {
  @apply text-accent underline;
}

.markdown p,
.markdown blockquote {
  @apply mt-6;
}

.markdown ul,
.markdown ol {
  @apply my-2;
}

.markdown ul {
  @apply list list-disc list-inside;
}

.markdown h2 {
  @apply text-3xl xl:text-4xl mt-12 mb-4 font-bold leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
